<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body Excerpt</th>
      <th>Author</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "shared/post", collection: posts %>
  </tbody>
</table>
