<br />
<div class="panel banner">
  <h3>Published Post 
    <%= link_to "Delete", post_path(post), 
    class: "button small alert right draft-top-btn", method: "delete" %>
    <%= link_to "Edit", edit_post_path(post), 
    class: "button small info right draft-top-btn" %>
    <%= link_to "Unpublish", draft_posts_path(post_id: post.id), 
    class: "button small right draft-top-btn", method: "post" %>
  </h3>
</div>
